<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title >Page Title </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   
</head>
<body>
    <h1> Check out our courses ! </h1>
    <ul>
        <% courses.forEach(course => { %>
            <li> <%= course.name %> </li>
        <% }) %>
    </ul>
</body>
</html>