<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>

</head>
<body>
    <h1> Welcome! <%= name %> </h1>
</body>
</html>