<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
 
</head>
<body>
    <h1> Sorry, <%= name %>,  Not Found!</h1>
</body>
</html>